div.mobile-about {
    div.user-description {
        color: #ffffff;
        
        p.description {
            font-size: 18px;
            text-indent: 2em;
            line-height: 40px;
            text-align: justify;
            word-break: break-all;
        }
    }
}