div.layout-outsor {
    div.outsor-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        justify-content: space-between;
    
        div.outsor-list-item {
            cursor: pointer;
            overflow: hidden;
            margin-top: 20px;
            position: relative;
            border-radius: 12px;
            width: calc(50% - 10px);
            border: 2px solid #e3e8f7;

            div.item-image {
                width: 100%;
                height: 150px;
                overflow: hidden;

                img.screenshot {
                    width: inherit;
                    height: inherit;
                    transition: transform 0.3s;
                }
            }

            div.item-content {
                bottom: 0;
                width: 100%;
                height: 80px;
                display: flex;
                padding: 15px;
                color: #ffffff;
                position: absolute;
                flex-direction: column;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, 0.5);
            
                p.item-name {
                    font-size: 18px;
                }
    
                p.item-desc {
                    font-size: 14px;
                    margin-top: 10px;
                    line-height: 22px;
                    text-align: justify;
                }
            }

            &:hover {
                div.item-image {
                    img.screenshot {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }
}