div.layout-photo {
    div.photo-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        justify-content: space-between;
    
        img.photo {
            height: 154px;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 6px;
            width: calc(50% - 10px);
        }
    }
}